<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>JobFlow</title>
    <link rel="stylesheet" href="/static/css/jobflow.css"></link>
    <script src="/static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/static/js/svg_elm.js"></script>
    <script src="/static/js/svg_elm_classes.js"></script>
    <script src="/static/js/jobflow_main.js"></script>
</head>
<body>
    <svg x=0 y=0 width=500 height=500 id="svg1">
        <text id="txt1" x=0 y=0 text=""></text>
    </svg>
    
</body>
</html>

